/*styles.css
Author: Tarundeep Singh
Date: April , 21st 2016
This is the sytle sheet file for the game*/

img {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top: 100px;
}

button {
    margin-top: 30px;
}

body {
    padding-top: 5%;
    display: flex;
    align-content: center;
}

.jumbotron {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 35%;
    width: 500px;
    height: 500px;
}